#pagina {
  background: linear-gradient(to right, #cd1a26, #00cd1b 30% 60%, #cdbb1a);
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
  display: inline;
}

#pagina_principal {
  background-image: url("../Imagenes/fondo_sala_03.JPEG");
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
  display: inline;
}

#escudo {
  background-image:url("../Imagenes/Logo.PNG");
  position: relative;
  left: 1%;
  min-width: 127px;
  max-width: 129px;
  min-height: 128px;
  max-height: 130px;
  cursor: pointer;
}

#titulo{
	text-align: center;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 150%;
	font-weight: bold;
  max-width: 80%;
  color: #ffffff;
  position: absolute;
  bottom: 80%;
  left: 10%;
}

h2{
	color: white;
}
a{
	color:white;
}

table, tr, td{
	margin:auto;
}

tr, td{
	border:1px solid;
	text-align: center;
}

table{
	border:1;
	color:white;
}

td{
	padding:35px 70px;
}

ul{
	list-style-type:none;
}

img{
	margin-right:2.5%;
	margin-left:2%;
	margin-bottom:2%;
}

input[type="button"], input[type="submit"]{
		margin-right: 30px;
		margin-top: 10px;
		margin-bottom:10px;
		padding:10px;
		width:300px;
		background: rgb(254, 238, 43);
		border-radius:10px;
		border:none;
}

input[type="button"]:hover, input[type="submit"]:hover{
		color: rgb(255, 255, 255);
		background: rgb(14, 31, 52);
		cursor:pointer;
		transition: 1s;
}

.float{
	float:right;
}

.h2{
	font-size:180%;
	font-family:;
}
.clear{
	clear:both;
}

.cancelar{
	position:relative;
	top:;
	bottom:;
	right:;
	left:180px;
}
.aceptar{
	position:relative;
	top:-24px;
	bottom:;
	right:;
	left:335px;
}
